<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("MyController", function($scope){
            // $scope.people = ['Dharm','Kirtan','Astha','Yatri'];
            $scope.people = [
                {"name": "Dharm", "age" : 15, "salary" : 5000},
                {"name": "kirtan", "age" : 17, "salary" : 4500},
                {"name" : "Astha", "age" : 21, "salary" : 7689},
                {"name" : "Yatri", "age" : 19, "salary" : 9873}
            ]
        });

    </script>
</head>
<body>
    <div ng-controller="MyController">
        <ul>
            <li ng-repeat="person in people | orderBy: 'age'">{{person.name + " - " + person.age}}</li>
        </ul>
        <ul>
            <li ng-repeat="person in people | orderBy : '-salary'">{{person.name + "  - " + person.salary}}</li>
        </ul>
    </div>

</body>
</html>